@model CMD.Model.Models.Usuarios
@{
    Layout = null;

    //var userInCookie = Request.Cookies["CmdUserLogged"];
    //if (userInCookie != null)
    //{
    //    Response.Redirect(Url.Action("Index", "Home"));
    //}
}

@*@Styles.Render("~/Content/css")
@Styles.Render("~/bundles/css")
@Scripts.Render("~/bundles/js")*@

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/app.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/Helpers.js"></script>
<style>
    h3, p {
        color: white;
    }
</style>
@using (@Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="container" ng-app="app">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-box" style="margin-top: 10%;" ng-controller="LoginCtrl">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>Login</h3>
                        <p>Insira as suas credenciais para acessar a plataforma:</p>
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-key"></i>
                    </div>
                </div>
                <div class="form-bottom">
                    <div class="form-group">
                        @Html.TextBoxFor( model => model.UserName, new { @class = "form-username form-control" , placeholder = "Usuário"})
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(model => model.PasswordHash, new { @class = "form-password form-control", placeholder = "Senha" })
                        @Html.ValidationMessageFor(model => model.PasswordHash)
                    </div>
                    <button type="submit" class="btn btn-success" style="width:100%" onclick="freezeScreen('add')">Entrar</button>
                    @Html.ValidationMessage("CustomError")
                </div>
            </div>
        </div>
    </div>
}
<div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 637px; width: 1349px; z-index: -999999; position: fixed;"><img src="~/Content/img/wallpaper.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1349px; height: 899.333px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -131.167px;"></div>

<script>
    var app = angular.module("app", []);
    app.controller('LoginCtrl', ['$scope', '$http', function ($scope, $http) {

        $scope.enviar = function () {
            freezeScreen("add");
            $http({
                method: 'POST',
                url: '@Url.Action("Login", "Account")',
                params: { usuario: $scope.usuario, senha: $scope.senha },
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
            }).then(function successCallback(response) {
                freezeScreen("remove");
                if (response.data) {
                    window.location.href = '@Url.Action("Index", "Home")';
                } else {
                    swal("Usuário ou senha inválidos.");
                }
            });
        }
    }]);
</script>